.page {
  width: 100vw;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-decoration: underline;
  font-size: 2rem;
  margin: 2rem;
}

.widget-info {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.widget-info > * {
  margin: 0.5rem;
}

.btn {
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #eee;
  box-shadow: rgb(199, 199, 199) 2px 4px;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.btn:active {
  top: 5px;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 5px rgb(76, 154, 190);
}

.enabled {
  border: 1px solid rgb(22, 114, 68);
  background-color: rgb(22, 114, 68);
  color: white;
}
