.bottom-right-popup-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  overflow: hidden;
  margin: 0;
  z-index: -5;
}

.bottom-right-popup-container.open {
  z-index: 5;
}

.bottom-right-popup-container > * {
  position: absolute;
  right: 0;
  bottom: 0;
}
