.bottom-right-popup-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -10;
  overflow: hidden;
  margin: 0;
  z-index: -5;
}

.bottom-right-popup-container.open {
  z-index: 5;
}
