.corner-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: -10;
  overflow: hidden;
  margin: 0;
  z-index: -5;
  transition: background-color 0.5s ease-out, z-index 0s 0.5s;
}

.corner-container.open {
  z-index: 5;
  transition: background-color 0.5s ease-out, z-index 0s 0s;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
