.timer-popup {
  width: fit-content;
}

.countdown-text {
  margin: 1rem;
  font-size: 1.2rem;
}

.countdown {
  margin: 1.2rem;
  font-size: 2rem;
}

.final {
  color: red;
}

.very-last {
  animation: pulse 0.66s infinite linear alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
