.title-tray {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

.title-tray > * {
  margin: 0 1rem;
}

.logo {
  width: 5rem;
  height: 5rem;
  transition: 0.5s ease-out;
}

.darktheme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darktheme-label {
  margin: 0.5rem;
}
